.company {
    display: flex;
    align-items: center;
}

.company__logo {
    max-width: 48px;
    max-height: 48px;
    margin-right: 16px;

    &._round {
        border-radius: 8px;
    }
}

.company__content {
    flex-grow: 1;
}

.company__info {
    display: flex;
    align-items: center;
}

.company__info-item {
    display: flex;
    align-items: center;
    font-size: 13px;

    svg {
        margin-right: 4px;
    }

    &:first-child {
        margin-right: 8px;
    }
}