.main {
    display: flex;
    gap: 24px;
    padding-top: 24px;

    @media (max-width: $medium) {
        flex-direction: column;
    }
    
    @media (max-width: $small) {
        
    }
}

.main__half {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main__part {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main__part-header {

    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: #424242;
        border-radius: 2px;
    }
}