.main {
    padding-top: 16px;
    @media print {
        padding-top: 8px;
    }
}

.main__half {
    box-sizing: border-box;
    width: 50%;

    display: inline-flex;
    flex-direction: column;
    gap: 8px;

    &:first-child {
        padding-right: 12px;
    }
    &:last-child {
        padding-left: 12px;
    }

    @media screen and (max-width: $medium) {
        width: 100%;
        &:first-child {
            padding: 0;
        }
        &:last-child {
            padding: 8px 0 0;
        }
    }

    @media print {
        gap: 4px;
    }
}

.main__part {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main__part-header {
    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        
        border-bottom: 2px solid #424242;
    }
}