@@if (context.job) {
    @@include("./_company.html", {
        img: {
            src: "@@job.img.src",
            alt: "@@job.img.alt",
        },
        name: "@@job.name",
        company: "@@job.company",
        date: "@@job.date",
        location: "@@job.location",        
    })
}
@@for (var i = 0; context.blocks && i < blocks.length; i++) {
    <div class="card">
        <div class="text_bold card__header">
            `+blocks[i].header+`
        </div>
        <div>
            @@loop("./_note.html", `+JSON.stringify(blocks[i].notes)+`)
        </div>
    </div>
}