
<section class="main__part">
    <div class="main__part-header h2">
        Experience
    </div>
    @@include("./_card.html", {
        job: {
            img: {
                src: "./assets/softfx-logo.png",
                alt: "soft-fx",
            },
            name: "Frontend Developer",
            company: "Soft-FX (Full-time)",
            date: "May 2020 - Present",
            location: "Warsaw, Poland",
        },
        blocks: [
            {
                header: "Trading Platform",
                notes: [
                    {
                        type: "link",
                        href: "https://ticktrader.fxopen.com",
                        text: "fxopen",
                    },
                    {
                        type: "link",
                        href: "https://live.free2ex.com",
                        text: "free2ex",
                    },
                    {
                        type: "technology",
                        text: "JavaScript, jQuery, Kendo UI, ASP.NET, FLUX",
                    },
                    {
                        type: "phases",
                        text: "requirements analysis, functional development, writing unit tests, supporting existing code, delivering updates",
                    },
                ],
            },
            {
                header: "Client Portal",
                notes: [
                    {
                        type: "info",
                        text: "Client Portal is a b2b product that provides very deep and customizable configuration for brokers/banks.",
                    },
                    {
                        type: "technology",
                        text: "TypeScript, React, MobX, Material UI, styled-components, ky",
                    },
                    {
                        type: "phases",
                        text: "init project, requirements analysis, functional development, writing unit tests",
                    },
                ],
            },
        ],
    })
    <div class="card__delimiter"></div>
    @@include("./_card.html", {
        job: {
            img: {
                src: "./assets/tms-logo.png",
                alt: "tms",
            },
            name: "Education Mentor",
            company: "TeachMeSkills (Part-time)",
            date: "Sep 2021 - Present",
            location: "Minsk, Belarus",
        },
        blocks: [
            {
                header: "Frontend",
                notes: [
                    {
                        type: "link",
                        href: "https://teachmeskills.by/kursy-programmirovaniya/frontend-html-css-javascript-minsk",
                        text: "course",
                    },
                    {
                        type: "technology",
                        text: "HTML, SCSS, JavaScript, TypeScript, React, Redux",
                    },
                ],
            },
        ],
    })
    <div class="card__delimiter"></div>
    @@include("./_card.html", {
        job: {
            img: {
                src: "./assets/freelance-logo.webp",
                alt: "freelance",
            },
            name: "Frontend Developer",
            company: "Freelance (Part-time)",
            date: "Nov 2020 - May 2023",
        },
        blocks: [
            {
                header: "Landing pages, Admin site, Marketplace, etc",
                notes: [
                    {
                        type: "technology",
                        text: "TypeScript, React, Redux, MobX, Axios, SCSS, Material UI",
                    },
                ],
            },
        ],
    })
    <div class="card__delimiter"></div>
    @@include("./_card.html", {
        job: {
            img: {
                src: "./assets/itransition-logo.png",
                alt: "itransition",
            },
            name: "Frontend Developer",
            company: "Itransition Group (Full-time)",
            date: "Jun 2019 - May 2020",
            location: "Minsk, Belarus",
        },
        blocks: [
            {
                header: "Patent registration system",
                notes: [
                    {
                        type: "technology",
                        text: "React, JavaScript, Axios, SCSS, Material UI",
                    },
                    {
                        type: "phases",
                        text: "functional development, writing unit tests, supporting existing code, delivering updates",
                    },
                ],
            },
            {
                header: "Internet banking",
                notes: [
                    {
                        type: "link",
                        href: "https://i.rietumu.lv",
                        text: "i.rietumu.lv",
                    },
                    {
                        type: "technology",
                        text: "TypeScript, Angular 1 / Angular 2",
                    },
                    {
                        type: "phases",
                        text: "supporting existing code, delivering updates",
                    },
                ],
            },
        ],
    })
</section>