<section class="main__part">
    <div class="main__part-header h2">
        Own projects
    </div>
    @@include("./_card.html", {
        blocks: [
            {
                header: "Trading Platform Simulator",
                notes: [
                    {
                        type: "link",
                        text: "bsuir-exchange",
                        href: "https://bsuir-exchange.web.app",
                    },
                    {
                        type: "code",
                        text: "Source code",
                        href: "https://github.com/ArtyomTalonchick/bsuir-exchange-web",
                    },
                    {
                        type: "technology",
                        text: "React, JavaScript, Axios, SCSS, Material UI, Redux, Heroku",
                    },
                ],
            },
        ],
    })
    <div class="card__delimiter"></div>
    @@include("./_card.html", {
        blocks: [
            {
                header: "Online game 'Gomoku'",
                notes: [
                    {
                        type: "link",
                        text: "gomoku",
                        href: "https://gomoku-g.firebaseapp.com",
                    },
                    {
                        type: "code",
                        text: "Source code",
                        href: "https://github.com/ArtyomTalonchick/BSUIR-6-ITIROD-Gomoku",
                    },
                    {
                        type: "technology",
                        text: "React, JavaScript, Webpack, SCSS, Firebase (Authentication, Real-time data update, Hosting)",
                    },
                ],
            },
        ],
    })
    <div class="card__delimiter"></div>
    @@include("./_card.html", {
        blocks: [
            {
                header: "Articles site",
                notes: [
                    {
                        type: "technology",
                        text: "React, JavaScript, Axios, SCSS, Material UI, Redux, Heroku",
                    },
                ],
            },
        ],
    })
    <div class="card__delimiter"></div>
    @@include("./_card.html", {
        blocks: [
            {
                header: "Simple game engine ",
                notes: [
                    {
                        type: "code",
                        text: "Source code",
                        href: "https://github.com/ArtyomTalonchick/RXGame",
                    },
                    {
                        type: "technology",
                        text: "JavaScript, Webpack, RxJs, Canvax, AVA Tests, Gemini Tests",
                    },
                ],
            },
        ],
    })
</section>