<section class="main__part">
    <div class="main__part-header h2">
        Skills
    </div>
    <ul class="skills">
        <li class="skills__item _strong">TypeScript</li>
        <li class="skills__item _strong">React</li>
        <li class="skills__item _strong">MobX</li>
        <li class="skills__item _strong">Redux</li>
        <li class="skills__item _strong">ES5/ES6</li>
        <li class="skills__item _strong">styled-components</li>
    
        <li class="skills__item _strong">HTML5</li>
        <li class="skills__item _strong">SCSS</li>
        
        <li class="skills__item">Next 13</li>
        <li class="skills__item">WebPack</li>
        <li class="skills__item">GraphQl</li>
        <li class="skills__item">jQuery</li>
        <li class="skills__item">Rest</li>
        <li class="skills__item">WebSocket</li>

        <li class="skills__item">Git</li>
    </ul>
    <ul class="skills text_light">
        <li class="skills__item">NodeJS</li>
        <li class="skills__item">ExpressJS</li>
        <li class="skills__item">Vue.js</li>
        <li class="skills__item">Firebase</li>
        <li class="skills__item">AWS</li>
        <li class="skills__item">Heroku</li>
        <li class="skills__item">MongoDB</li>
    </ul>
</section>