<section class="main__part">
    <div class="main__part-header h2">
        Skills
    </div>
    <ul class="skills">
        <li class="skills__item _strong">JavaScript</li>
        <li class="skills__item _strong">ReactJS</li>
        <li class="skills__item _strong">ES5/ES6</li>
        <li class="skills__item _strong">Redux</li>
    
        <li class="skills__item _strong">HTML5</li>
        <li class="skills__item _strong">SCSS</li>
        
        <li class="skills__item">TypeScript</li>
        <li class="skills__item">NodeJS</li>
        <li class="skills__item">WebPack</li>
        <li class="skills__item">Rest</li>
        <li class="skills__item">GraphQl</li>
        <li class="skills__item">jQuery</li>

        <li class="skills__item">Git</li>
        <li class="skills__item">Firebase</li>
        <li class="skills__item">AWS</li>
        <li class="skills__item">MongoDB</li>
    </ul>
</section>