@font-face {
    font-family: "Inter";
    src: local("Inter"), url("./assets/inter-regular.ttf") format("truetype");
}

$medium: 720px;
$small: 480px;

@mixin color ($color) {
    color: $color;

    svg path {
        fill: $color;
    }
}

@page {
    size: auto;
    margin: 0;
}

body {
    min-width: 360px;

    font-family: Inter;
    font-size: 14px;
    @include color(#212121);
    margin: 0;
    background-color: #FAFAFA;
}

svg {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-style: italic;
    transition: all 200ms;

    @include color(#01579B);

    &:hover {
        @include color(#0288D1);
    }

    &:active {
        @include color(#03A9F4);
    }

    svg {
        margin-right: 4px;
    }
}

ul {
    margin: 0;
    padding: 0 0 0 24px;
    list-style-type: circle;
}

.document {
    margin: auto;
    background-color: #fff;
    max-width: 800px;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 24px 32px;

    @media (max-width: $medium) {
        padding: 24px 16px;
    }

    @media print {
        padding: 16px;
    }
}

@import "./styles/comman.scss";
@import "./styles/header.scss";
@import "./styles/main.scss";
@import "./styles/card.scss";
@import "./styles/company.scss";
@import "./styles/note.scss";
@import "./styles/skills.scss";