@font-face {
    font-family: "Inter";
    src: local("Inter"), url("./Inter-Regular.ttf") format("truetype");
}

@mixin color ($color) {
    color: $color;

    svg path {
        fill: $color;
    }
}

body {
    font-family: Inter;
    font-size: 14px;
    @include color(#212121);
    margin: 0;
    background-color: #FAFAFA;
}

svg {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-style: italic;
    transition: all 200ms;

    @include color(#424242);

    &:hover {
        @include color(#757575);
    }

    &:active {
        @include color(#9E9E9E);
    }

    svg {
        margin-right: 4px;
    }
}

ul {
    margin: 0;
    padding: 0 0 0 24px;
    list-style-type: circle;
}

.document {
    margin: auto;
    background-color: #fff;
    max-width: 800px;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 48px 32px 24px;
}

@import "./styles/comman.scss";
@import "./styles/header.scss";
@import "./styles/main.scss";
@import "./styles/card.scss";
@import "./styles/company.scss";
@import "./styles/note.scss";